In [2]:
import pandas as pd

In [9]:
data=pd.read_csv("../data/yfinance_data/yfinance_data/AAPL_historical_data.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [10]:
data.info

<bound method DataFrame.info of              Date        Open        High         Low       Close   Adj Close  \
0      1980-12-12    0.128348    0.128906    0.128348    0.128348    0.098943
1      1980-12-15    0.122210    0.122210    0.121652    0.121652    0.093781
2      1980-12-16    0.113281    0.113281    0.112723    0.112723    0.086898
3      1980-12-17    0.115513    0.116071    0.115513    0.115513    0.089049
4      1980-12-18    0.118862    0.119420    0.118862    0.118862    0.091630
...           ...         ...         ...         ...         ...         ...
10993  2024-07-24  224.000000  224.800003  217.130005  218.539993  218.287323
10994  2024-07-25  218.929993  220.850006  214.619995  217.490005  217.238556
10995  2024-07-26  218.699997  219.490005  216.009995  217.960007  217.708008
10996  2024-07-29  216.960007  219.300003  215.750000  218.240005  217.987686
10997  2024-07-30  219.190002  220.330002  216.119995  218.800003  218.547043

          Volume  Dividends  Stock Splits
0      469033600        0.0           0.0
1      175884800        0.0           0.0
2      105728000        0.0           0.0
3       86441600        0.0           0.0
4       73449600        0.0           0.0
...          ...        ...           ...
10993   61777600        0.0           0.0
10994   51391200        0.0           0.0
10995   41601300        0.0           0.0
10996   36311800        0.0           0.0
10997   41643800        0.0           0.0

[10998 rows x 9 columns]>